.appContainer {
    min-width: 200px;
    padding: 20px;

    .appTitle {
        text-align: center;
        margin: 0px;
    }

    .archiveContainer {
        display: block;
    }

    .logoutStrip {
        float: right;

        span {
            font-size: small;
            margin-right: 10px;
        }
    }
}
